<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Top/Business/Automotive" id="path" type="text", value="{{default_path}}">
          <label for="path">Path</label>
        </div>

        <div class="input-field col s1">
          <select id='descriptions'>
            <option value='true'>true</option>
            <option value='false'>false</option>
          </select>
          <label for="descriptions">Need Descriptions</label>
        </div>

        <div class="input-field col s1">
          <select id='recursive'>
            <option value='true'>true</option>
            <option value='false'>false</option>
          </select>
          <label for="recursive">Need Recursive Results</label>
        </div>

        <div class="input-field col s1">
          <input placeholder="Count (No. of results to return. Max.: 20)" id="count" type="text" value="{{default_count}}">
          <label for="count">No. of results to return</label>
        </div>

        <div class="input-field col s1">
          <input placeholder="start Index (Starting from 1)" id="start_index" type="text"value="{{default_start_index}}">
          <label for="start_index">Start Index</label>
        </div>

        <div class="input-field col s3">
          {{#if vals}}
            <select id='sort-by' multiple='multiple'>
              {{#each vals}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
            </select>
            <label for="sort-by">Sort By</label>
          {{/if}}
        </div>

        <div class="input-field col s2">
          <div id="submit-button" class="waves-effect waves-light btn">Submit</div>
        </div>
      </div>
    <form>
</div>

<style media="screen">
  #response-container {
    border: 1px solid gray;
    padding: 10px;
  }
</style>

<div class="row">
  <div class="col s1"></div>
  <div class="col s12" id="response-container">
    <div class="row">
      <div class="col s12" id="response-toggle-buttons-container">
        <button id="collapse-all" class="waves-effect waves-light btn">Collapse</button>
        <button id="expand-all" class="waves-effect waves-light btn">Expand</button>
        <button id="toggle" class="waves-effect waves-light btn">Toggle</button>
      </div>
    </div>

    <div class="row">
      <div class="col s12" id="response-data-container">

      </div>
    </div>
  </div>
</div>
